.blog { padding-top: 150px; }
.blog .header {
    text-align: center;
}
.blog .header .p-title {
    margin: var(--space-base);
}
  
.blog .blog-list.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--space-xl);
}