.faq{ padding-top: 150px; }

.faq .header {
  text-align: center;
}
.faq .header .p-title {
  margin: var(--space-base);
}

.faq .accordion {
  width: 50%;
  max-width: 900px;
  height: 100%;
  max-height: auto;
}