.interview { padding-top: 150px; }

.interview .header {
    text-align: center;
}
.interview .header .p-title {
    margin: var(--space-base);
}

.interview .interview-list.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--space-xl);
}