.program{ padding-top: 120px; }
/* .program section { min-height: 100vh; } */

.program section.intro {
    text-align: center;
    max-height: 900px;
}

.program section.intro > .layout-2 {
    padding: 50px 0 150px 0;
    background-color: #FFEDEA;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 100px;
}
.program section.intro > .layout-2 > .img-wrapper {
    width: 50%;
}
.program section.intro > .layout-2 > .img-wrapper > img {
    width: 100%;
    object-fit: cover;
}
.program section.intro > .layout-2 > .content-wrapper {
    text-align: left;
    height: 100%;
}
.program section.intro > .layout-2 > .content-wrapper img {
    margin-bottom: 70px;
    width: 75px;
}
.program section.intro > .layout-2 > .content-wrapper > div {
    margin-bottom: var(--space-base);
}
.program section.intro > .layout-2 > .content-wrapper > p {
    width: 462px;
    padding-bottom: var(--space-l);
}

.program section.features {
    border: 1px solid var(--color-primary-pink);
    background-color: var(--color-white);
    max-width: 1100px;
    height: 315px;
    padding-top: var(--space-l);
    margin: 0 auto;
    margin-top: -70px;
}
.program section.features .items {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.program section.features > img {
    width: 24px;
    height: 24px;
    margin-top: var(--space-base);
    margin-bottom: var(--space-l);
}
.program section.features .feature-item {
    position: relative;
    margin-top: 18%;
}

.program section.features .feature-item > img:nth-child(1) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: floatAbsolute 5s infinite;
}
.program section.features .feature-item:nth-child(1) > img:nth-child(1) {
    top: -175%;
}
.program section.features .feature-item:nth-child(2) > img:nth-child(1) {
    top: -140%;
}
.program section.features .feature-item:nth-child(3) > img:nth-child(1) {
    top: -170%;
}

.program section.features .feature-item:not(:last-child) {
    margin-right: var(--space-xxl);
}

.program section.steps {
    margin-top: 250px;
    height: 100%;
}
.program section.steps .header {
    z-index: 100;
    width: 100%;
    justify-content: space-between;
}
.program section.steps .header > .flex-column-ct > p {
    margin-bottom: var(--space-l);
}

.program section.steps .content {
    background-color: #FFEDEA;
    width: 100%;
    padding: 100px 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-l);
    margin-top: -10px;
    z-index: 99;
}
.program section.steps .content .step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
}

.program section.steps .content .step-item .label {
    color: var(--color-primary-pink);
    font-size: 18px;
    font-family: "MotoyaExAporo W55 W6 mono";
    padding: 15px 120px 20px 105px;
    margin-top: var(--space-m);
    background-image: url("/img/program/stepArrow.svg");
    background-size: cover;
    background-position: 0%;
}
.program section.courses {
    max-height: none;
    height: auto;
    background-color: #FFF8F7;
    padding-top: 100px;
    padding-bottom: 100px;
}
.program section.courses .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 1050px;
}
.program section.courses .gallery .img-wrapper {
    max-width: 508px;
}
.program section.courses .gallery .img-wrapper img {
    width: 100%;
}
.program section.courses .header {
    text-align: center;
    margin-bottom: var(--space-xl);
}
.program .header .p-title {
    margin-bottom: var(--space-base);
}
.program section.courses .header p {
    margin-bottom: var(--space-m);
}

.program section.process {
    height: 100%;
    padding-top: 7%;
    padding-bottom: 100px;
}
.program section.process .layout-1 {
    gap: var(--space-m);
}
.program section.process .gallery .item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
}
.program section.process .gallery .item-wrapper:last-child {
    margin-top: 7px;
}
.program section.process .frame {
    width: 60%;
    max-width: 725px;
    padding: 20px;
    border: 1px solid var(--color-primary-pink);
    background: #FFF;
    box-shadow: 7px 7px 0px 0px var(--color-primary-pink);
    border-radius: 4px;
    line-height: 200%;
}

.program section.schedule {
    margin-top: 100px;
    margin-bottom: 150px;
}
.program section.schedule .img-wrapper {
    padding-left: 5%;
    padding-right: 5%; 
}
.program .header {
    text-align: center;
}

@media (max-width: 1080px) {
    .program section.intro  {
        height: auto;
        max-height: none;
    }

    .program section.intro .layout-2 .img-wrapper,
    .program section.intro .layout-2 .content-wrapper {
        width: 100%;
    }
    .program section.intro > .layout-2 > .content-wrapper > p {
        width: 100%;
    }
    .program section.intro .layout-2 .content-wrapper, .program section.features {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: var(--space-xl);
        height: auto;
    }
    .program section.features .m-title {text-align: center;}
    .program section.features .items {
        flex-direction: column;
    }
    .program section.features .feature-item:not(:last-child) {
        margin-right: 0;
    }
    .program section.features .feature-item {
        margin-top: 80%;
    }
    .program section.steps .header, .program section.courses .header {
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
    }
    .program section.steps .header .arrow {
        display: none;
    } 
    .program section.steps .content {
        flex-direction: column;
        padding: 75px 5%;
        gap: 75px;
    }
    .program section.steps .content .step-item .label { 
        margin-top: 0;
    }
    .program section.courses .gallery {
        flex-direction: column;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        gap: var(--space-xl);
    }
    
    .program section.courses .gallery .img-wrapper {
        width: 100%;
        max-width: 508px;
    }
    .program section.process .gallery {
        gap: var(--space-xl);
    }
    .program section.process .gallery .item-wrapper {
        flex-direction: column;
        gap: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .program section.process .gallery .item-wrapper img:last-child {
        display: none;
    }
    .program section.process .gallery .item-wrapper .frame {
        width: 100%;
    }
    .program section.schedule {
        height: auto;
    }
  }