.admin.blogList, .admin.createNewPost, .admin.letters, .admin.subscribers {
    padding-top: 5%;
    max-width: 1000px;
    margin: 0 auto;
}
.dbTable .id {
    width: 50px;
    text-align: center;
}
.dbTable tbody .cover {
    width: 150px;
    height: 150px;
}
.dbTable .cover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dbTable thead th,.dbTable tbody td {
    padding: 15px;
}

.thumbnail {
    width: 280px;
    height: 280px;
    background-image: url('/public/img/istockphoto.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.thumbnail>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin.blogList {
    padding-bottom: 100px;
}

.admin.blogList .news{
    padding-top: 50px;
}

.dbTable .title {
    width: 400px;
}

.dbTable .content {
    width: 500px;
}

.dbTable .date {
    width: 110px;
}
.dbTable .actions {
    width: 110px;
}
.dbTable td {
    vertical-align: top;
}
.dbTable td:not(.cover) {
    padding-top: 15px;
}
.dbTable td.cover {
    padding-left: 0;
}
table thead {
    height: 60px;
    background-color: #FFEDEA;
}
.dbTable tr:nth-child(even) {
    background-color: #ffedea6b;
}


/* ------------------------------------------------------ admin/home */
.admin.home {
    width: 280px;
    margin: 0 auto;
    padding-top: 10%;
}
.admin.home .body {
    gap: var(--space-s);
    margin-top: var(--space-l);
}
.admin.home button {
    width: 100%;
}

.dbTable .index {
    width: 70px;
}