.admin.blogList, .admin.createNewPost, .admin.letters, .admin.subscribers, .admin.login {
    padding-top: 5%;
    max-width: 1000px;
    margin: 0 auto;
}
.admin.login .container {
    vertical-align: middle;
    height: 75vh;
}
.admin.login .container .mb-3 label {
    width: 100px;
    display: inline-block;
}
.admin.login .container button {
    width: 100%;
}
.dbTable .id {
    width: 50px;
    text-align: center;
}
.dbTable tbody .cover {
    width: 150px;
    height: 150px;
}
.dbTable .cover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dbTable thead th,.dbTable tbody td {
    padding: 15px;
}

.thumbnail {
    width: 280px;
    height: 280px;
    background-image: url('/img/istockphoto.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.thumbnail>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin.blogList {
    padding-bottom: 100px;
}

.dbTable .title {
    width: 450px;
}

.dbTable .content {
    width: 500px;
}

.dbTable .date {
    width: 200px;
    text-align: center;
}
.dbTable .actions {
    width: 200px;
    text-align: center;
}
.dbTable td {
    vertical-align: top;
}
.dbTable td:not(.cover) {
    padding-top: 15px;
}
.dbTable td.cover {
    padding-left: 0;
}
table thead {
    height: 60px;
    background-color: #FFEDEA;
}
.dbTable tr:nth-child(even) {
    background-color: #ffedea6b;
}

.admin.blogList .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    /* visibility: hidden;
    opacity: 0; */
}
.popup {
    /* margin: 70px auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 25%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: var(--color-primary-pink);
    cursor: pointer;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

/* ------------------------------------------------------ admin/home */
.admin.home {
    width: 280px;
    margin: 0 auto;
    padding-top: 10%;
}
.admin.home .body {
    gap: var(--space-s);
    margin-top: var(--space-l);
}
.admin.home button {
    width: 100%;
}

.dbTable .index {
    width: 70px;
}