.admin.blogList, .admin.createNewPost {
    padding-top: 5%;
    max-width: 1000px;
    margin: 0 auto;
}
.dbTable .id {
    width: 50px;
    text-align: center;
}
.dbTable .cover {
    width: 100px;
    height: 100px;
}
.dbTable .cover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dbTable .title, .dbTable .description, .dbTable .date, .dbTable .actions {
    padding-left: var(--space-m);
}

.thumbnail {
    width: 280px;
    height: 280px;
    background-image: url('/public/img/istockphoto.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.thumbnail>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}