@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face{
  font-family: "MotoyaExAporo W55 W6 mono";
  src: url("./fonts/a2d06788cab1071765170bc0314c1232.eot");
  src: url("./fonts/a2d06788cab1071765170bc0314c1232.eot?#iefix")format("embedded-opentype"),
      url("./fonts/a2d06788cab1071765170bc0314c1232.woff")format("woff"),
      url("./fonts/a2d06788cab1071765170bc0314c1232.woff2")format("woff2"),
      url("./fonts/a2d06788cab1071765170bc0314c1232.ttf")format("truetype"),
      url("./fonts/a2d06788cab1071765170bc0314c1232.svg#MotoyaExAporo W55 W6 mono")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing:border-box; 
  z-index: 1;
  /* word-break: break-all; */
}

li { list-style-type: none; }
ol,ul { list-style: none; }
p { margin: 0; padding: 0; text-align: left; line-height: 200%; font-size: 14px; }
img {border: 0; line-height: 0; display: block;}
hr { display: none; }
th { text-align: left; font-weight: 500; margin: 0; }
em {font-weight: 500; font-style: normal;}
input.btn { margin: 0 0.5em; padding: 0 1em; }

.inset-img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
/* -----------------------------------------------------------------------------COLORS */
.color-primary-pink {color: var(--color-primary-pink);}
.color-coral {color: var(--color-coral);}
.color-green {color: var(--color-green);}
.color-purple {color: var(--color-purple);}
.primary-pink {color: var(--color-primary-pink);}
.color-gray {color: var(--color-gray);}


/* -----------------------------------------------------------------------------FONTS / TEXTS */
.semi-bold {font-weight: 700;}
.bold {font-weight: bold;}

.p-title-bg {
  font-family: "MotoyaExAporo W55 W6 mono";
  font-size: 72px;
  line-height: 150%;
}
.p-title {
  font-family: "MotoyaExAporo W55 W6 mono";
  color: var(--color-primary-pink);
  font-size: 36px;
  line-height: 180%;
}
.m-title {
  font-family: "MotoyaExAporo W55 W6 mono";
  color: var(--color-primary-pink);
  font-size: 18px;
  line-height: 180%;
}
.en-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary-pink);
}
.sub-title {
  font-size: 16px;
  border-bottom: 1px solid var(--color-gray);
  font-weight: 500;
  margin-bottom: var(--space-xl);
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 400px) {
  .p-title {
    font-size: 34px;
  }
} 
/* -----------------------------------------------------------------------------SIZES */
.w-1024 {
  width: 1024px;
}
.max-w-1024 {
  max-width: 1024px;
}
.max-w-900 {
  max-width: 900px;
}
.max-w-768 {
  max-width: 768px;
}
.w-50pc {
  width: 50%;
}
.w-100pc {
  width: 100%;
}

.aspect-video {
  aspect-ratio: 16/9;
}

/* -----------------------------------------------------------------------------LAYOUT */
.relative {position: relative;}
.absolute {position: absolute;}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-align-ct {text-align: center;}
.text-align-left {text-align: left;}


.container { width: 100%; }

.grid { display: grid; }

.flex-row-ct {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {justify-content: center;}
.justify-space-btw {justify-content: space-between;}

.layout-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--space-xxl)*2);

}

.layout-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(var(--space-xxl)*2);
} 
@media (min-width: 640px) {
  .container { max-width: 640px; }
}
@media (max-width: 640px) {
  .mb-w-100pc {
    width: 100%;
  }
  
}
@media (max-width: 768px) {
  .layout-1, .layout-2 {
    gap: var(--space-xxl);
    padding: var(--space-base);
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {  max-width: 768px; }
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  .p-left {
    text-align: left;
  }
  .mb-flex-col-ct {
    flex-direction: column;
  }
  
}
@media (min-width: 1080px) {
  .container { max-width: 1080px; }
  .lg\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pc-flex-row-ct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1080px) {
  .layout-2 {
    flex-direction: column;
    justify-content: flex-start;
  } 
  
}
@media (min-width: 1280px) {
  .container {  max-width: 1280px; }
  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
  } 
  .p-center {
    text-align: center;
  }
  
}
/* -----------------------------------------------------------------------------SPACES */
.mg-base { margin: var(--space-base); }
.mt-base { margin-top: var(--space-base); }
.mt-m { margin-top: var(--space-m); }
.mt-xl { margin-top: var(--space-xl); }
.mt-xxl { margin-top: var(--space-xxl); }

.mt-100 { margin-top: 100px; }

.mr-base {margin-right: var(--space-base);}
.mb-xl{
  margin-bottom: var(--space-xl);
}
.mb-base { margin-bottom: var(--space-base);}
.mb-m { margin-bottom: var(--space-m);}
.mb-l { margin-bottom: var(--space-l);}
.mb-100 { margin-bottom: 100px;}
.mx-s {
  margin-top: var(--space-s); 
  margin-bottom: var(--space-s); 
}
.mx-base {
  margin-top: var(--space-base); 
  margin-bottom: var(--space-base); 
}
.pr-xl {padding-right: var(--space-xl);}
.pt-xl {padding-top: var(--space-xl) ;}
.pt-150 {
  padding-top: 150px;
}
.px-s {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}
.px-base {
  padding-left: var(--space-base);
  padding-right: var(--space-base);
}
.px-m {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}
.py-m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}
.py-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.px-xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
.px-5pc {
  padding-left: 5%;
  padding-right: 5%;
}
.px-paragraph {
  padding-left: 25%;
  padding-right: 25%;
}
.my-base {
  margin-top: var(--space-base);
  margin-bottom: var(--space-base);
}
.my-l {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}
.gap-none {gap: var(--space-none);}
.gap-xs {gap: var(--space-xs);}
.gap-s {gap: var(--space-s);}
.gap-base {gap: var(--space-base);}
.gap-m {gap: var(--space-m);}
.gap-l {gap: var(--space-l);}
.gap-xl {gap: var(--space-xl);}
.gap-xxl {gap: var(--space-xxl);}

/* -----------------------------------------------------------------------------LISTS */
.bullet-point:before {
  content:"";
  border-radius: 8px;
  border: 4px solid;
  height: 0px;
  width: 0px;
  display: inline-block;
  color: var(--color-primary-pink);
  margin-right: var(--space-s);
}

.bullet-list {
  line-height: 250%;
}

.news-icon {
  position: fixed;
  top: 50%;
  left: calc((100vw - var(--max-width))/2 + 50px);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
}

.news-icon .text {
  writing-mode: tb-rl;
  margin: 0 auto;
  letter-spacing: 10px;
  font-weight: 500;
  color: var(--color-gray);

  background-color: white;
  border-radius: 100px;
  padding: 64px 16px 15px 15px;
  margin-top: -50px;
  margin-left: -4px;
  z-index: 999;
  border: 1px solid var(--color-primary-pink);

}
.news-icon img { 
  z-index: 1000;

}
.news-icon:hover .text{
  color: #fff;
  z-index: 999;
  background-image: linear-gradient(45deg, #E8437E,#ff9284, #E8437E,#ff9284);
  background-size: 300% 300%;
  animation: gradientReverse 3s ease-in infinite;
}
.news-icon:hover img{
  z-index: 1000;
}

@media (max-width: 1920px) { 
  .news-icon {
    left: 50px;
  }
}
/* -----------------------------------------------------------------------------FORM */
input[type="text"], input[type="email"], input[type="tel"], textarea{
  border: none;
  border-radius: 0;
  outline: 1px solid var(--color-light-gray);
  background: none;
  height: 40px;
  background-color: #fff;
}
input.full{width: 100%; min-width: 250px;}
input,textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  max-width: 100%;
  padding-left: var(--space-s);
}
input::placeholder,textarea::placeholder {color: var(--color-light-gray);}
textarea {
  height: 120px;
  padding-top: var(--space-s);
}
button {
  color: var(--color-primary-pink);
  border: 2px solid var(--color-primary-pink);
  outline-offset: inn;
  background: #FFF; 
  font-family: 'Noto Sans JP',sans-serif;
  font-weight: 500;
  padding: 14px 50px;
  border-radius: 8px;
  cursor: pointer;
  min-width: 150px;
}
button.primary {
  /* background: linear-gradient(45deg, #FF8A7B, #f05e91, #E8437E); */
  background-image: linear-gradient(to right, #E8437E,#ff9284, #E8437E,#ff9284);
  background-size: 300% 300%;
  color: var(--color-white);
  border: none;
  padding: 16px 80px;
  animation: gradient 3s ease-in infinite;

} 
button:hover {
  transition: all .25s;
  box-shadow: 5px 5px 0px var(--color-primary-pink);
}

button.primary a {
  color: var(--color-white);
}

button.selected {
  background-color: var(--color-primary-pink);
  color: #FFF;
}

button.disabled {
  background-color: var(--color-light-gray);
  background-image: none;
  cursor: default;
  color: #FFF;
  border: none;
}
button.disabled:hover {
  transition: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  button, button.primary{
    width: 100%;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 18px;
  }
}
/* ---------------------------------------------------------------------------ELEMENTS */

.spark {
  animation: spin 5s infinite linear;
  background: url('/img/spark.svg');
  background-size: cover;
  display: inline-block;
  width: 72px;
  height: 72px;
}

.spark.p24 {width: 24px; height: 24px;}
.spark.p42 {width: 42px; height: 42px;}
.spark.p120 {width: 120px; height: 120px;}
.spark.p200 {width: 200px; height: 200px;}


.spark-p278 {
  animation: spin 28s infinite linear;
  background: url('/img/spark-p278.png');
  background-size: cover;
  display: inline-block;
  width: 278px;
  height: 278px;
}
.spark-p756 {
  animation: spin 15s infinite linear;
  background: url('/img/grayzone/spark-p756.png');
  background-size: cover;
  display: inline-block;
  width: 756px;
  height: 756px;
}


.tag-wrapper {
  display: flex;
  max-width: 900px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 11px 10px;
  flex-wrap: wrap;
}
.tag {
  border-radius: 50px;
  border: 1px solid var(--color-primary-pink);
  color: var(--color-primary-pink);
  padding: 5px 20px;
  text-align: center;
}
@media (max-width: 1080px) {
  .tag-wrapper {
    justify-content: flex-start;
  }
}
/* ---------------------------------------------------------------------------KEYFRAMES */
@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 100%;
	}
}
@keyframes gradientReverse {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@keyframes gradientBlend {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .3;
	}
	100% {
		opacity: 1;
	}
}
@keyframes float {
  0%, 100% {
      -webkit-transform: translateY(6px);
      transform: translateY(12px) scale(1);
  }
  50% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-12px) scale(1.05);
  }
}
@keyframes floatAbsolute {
  0%, 100% {
      transform: translateX(-50%) translateY(12px) scale(1);
  }
  50% {
      transform: translateX(-50%) translateY(-12px) scale(1.05);
  }
}
@keyframes jitter {
  50% { transform:skewY(5deg) skewX(-5deg) scale(1.2); } 
}

@keyframes spinWithX {
  from {
      transform: translateX(-50%) rotate(0deg) ;
  }
  to {
      transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes spin {
  from {
      transform: rotate(0deg) ;
  }
  to {
      transform: rotate(360deg);
  }
}